/* Wrapper*/

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
}

aside{
   width: 14rem; 
   height: 100vh;   
}

.main-side{
    width: calc(100% - 14rem);
    height: 100vh;
    background: blue ;
}

.main-side nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    color: aliceblue;
    background: darkkhaki;
    height: 4.375rem;
}

footer{
    position: absolute;
    bottom: 0;
    width: inherit;
    background: aquamarine;
    padding: 24px;
    text-align: center;
}

main img{
    max-width: 100%;
    height: auto;
    max-height: 300px;
}